:root {
    /* tokyo night */
    --black: #000000;
    --white: #ffffff;
    --background: #0e0e11;
    --elem-background: #24283b;
    --tokyo-border: #dde0ec;
    --tokyo-text: var(--white);
    --tokyo-comment: #e0e5fd;
    --tokyo-container: #1b1b1f;
    --tokyo-button: #565f89;
    --tokyo-red: #f7768e;
    --tokyo-orange: #ff9e64;
    --tokyo-yellow: #e0af68;
    --tokyo-white: rgb(255, 255, 255);
    --foreground: #e0e5fd;
    --tokyo-magenta: #bb9af7;
    --tokyo-teal: rgb(114, 189, 177);
    --tokyo-green: #6ace90;
    --tokyo-blue: #79c1eb;
    --tokyo-blue-tp: #79c1eb79;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    /* background: #f5f5f5; */
    background: var(--background);
    font-family: "Lato", "Inter", sans-serif;
}

.screen {
    display: none;
}

.screen.active {
    display: block;
}

.app {
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    max-width: 500px;
    border-left: 1px solid var(--background);
    border-right: 1px solid var(--background);
    background: var(--background);
}

.join-code {
    color: var(--tokyo-text);
    padding: 5px;
    align-items: center;
    align-content: center;
}

.join-p {
    margin: 10px;
    font-size: 12px;
    color:var(--tokyo-comment);
    text-align: center;
}
.join-name {
    color: var(--tokyo-text);
    margin: 10px;
    text-align: center;
}

.join-ipt {
    width: 100%;
    color: var(--tokyo-comment);
    font-weight: 900;
    font-size: 24px;
    padding: 4px;
    flex-grow: 1;
    background-color: transparent;
    outline: none;
    border: none;
    margin-right: 8px;
}

.join-btn {
    margin: 5px;
    height: 40px;
    width: 94px;
    font-size: 12px;
    background-color: var(--tokyo-button);
    color: var(--tokyo-text);
    border-style: none;
    border-radius: 2px;
}

.join-btn:hover {
    background-color: var(--tokyo-magenta);
    color: var(--tokyo-text);
    transition: 0.5s;
}
.join-btn:active {
    background-color: #000;
    color: #fff;
    transform:scale(1.1);
    transition: 0.5s;
}

.join-screen {
    padding: 20px;
}

.join-screen .join-input {
    width: 100%;
    border-radius: 2px;
    /* border: 1px dashed var(--tokyo-border); */
}

.fs-screen {
    padding: 20px;
}

.fs-screen .file-input {
    width: 100%;
    border: 1px solid var(--tokyo-border);
}
.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: var(--tokyo-container);
    color: var(--tokyo-comment);
    border-radius: 0px;
    height: 60px;
    padding: 0px 3px 0px 8px;
}

.fs-screen .file-input label {
    display: block;
    width: 100%;
    padding: 40px 50px;
    text-align: center;
    background: var(--tokyo-container);
    color: var(--tokyo-comment);
    font-size: 18px;
    cursor: pointer;
}

.fs-screen .file-input input {
    display: none;
}

.fs-screen .files-list {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.fs-screen .files-list .title {
    width: 100%;
    margin: 20px 0px;
}

.fs-screen .files-list .item {
    width: 33%;
    min-width: 200px;
    border: 1px solid #eee;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.05);
}

.fs-screen .files-list .item .progress {
    padding: 30px;
    text-align: center;
    font-size: 50px;
    color: #222;
}

.fs-screen .files-list .item .filename {
    padding: 5px;
    font-size: 18px;
    border-top: 1px solid #eee;
}

.fs-btn {
    margin-top: 2px;
    height: 40px;
    width: 100%;
    background-color: var(--tokyo-button);
    color: var(--white);
    border-style: 1px solid var(--tokyo-border);
    border-radius: 0px;
}

.fs-btn:hover {
    background: var(--tokyo-magenta);
    transition: 0.5s;
}

.fs-btn:active {
    border: 1px solid var(--tokyo-border);
    background-color: var(--tokyo-magenta);
    color: var(--tokyo-container);
    transform: scale(1.1);
    transition: 0.5s;
}

.rs-screen {
    width: auto;
    /* min-height: 200px; */
    margin: 20px;
    padding: 20px;
    border: 1px solid var(--tokyo-border);
}

.file-container {
    display: flex;
    justify-content: center;
    padding: 5px;
    height: 40px;
    width: 100%;
    border: 1px solid var(--tokyo-border);
    align-items: start;
    cursor: pointer;
}
.file-icon {
    height: 100%;
}
.refresh-icon {
    height: 100%;
    padding: 5px;
    color: var(--tokyo-comment);
}
.refresh-icon:hover {
    transform: rotateZ(360deg);
    transition: 0.5s;
}
.file-text {
    height: 100%;
    width: 80%;
    margin: 5px;
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: var(--tokyo-comment);
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.js-screen {
    width: auto;
    min-height: 80px;
    margin: 20px;
    padding: 20px;
    border: 1px solid var(--tokyo-border);
}
.js-name {
    color: var(--tokyo-comment);
    margin: 5px;
    text-align: left;
    font-size: 18px;
    cursor: pointer;
}
.chip {
    display: inline-block;
    padding: 5px;
    height: 30px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    border-radius: 25px;
    background-color: var(--tokyo-comment);
    cursor: pointer;
}

.rsi-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    height: 50%;
    width: 100%;
    /* border: 1px dotted var(--tokyo-border); */
    align-items: center;
    cursor: pointer;
}

.download-file {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.download-p {
    margin: 10px;
    font-size: 12px;
    color: var(--tokyo-comment);
    text-align: center;
}

.progressbar {
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
}

.footer-copyright {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
}
.footer-heart {
    width: 100%;
    margin-bottom: 12px;
    text-align: center;
    color: var(--tokyo-comment);
    font-size: 10px;
}

.footer-heart a {
    color: var(--tokyo-magenta);
    padding-bottom: .25em;
    text-decoration: none;
}

.footer-heart a:hover {
    color: var(--tokyo-magenta);
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 20%;
    border-bottom: 0;
    padding-bottom: .3em;
    text-decoration: none;
}

.emoji {
    vertical-align: middle;
}

/* progress bar */

.CircularProgressbar {
    width: 100%;
    vertical-align: middle;
}
.CircularProgressbar .CircularProgressbar-text {
    fill: var(--tokyo-white);
    font-size: 24px;
    font-weight: 800;
    dominant-baseline: middle;
    text-anchor: middle;
}
.CircularProgressbar-path {
    stroke: var(--tokyo-green);
}

.CircularProgressbar-trail {
    /* stroke: var(--tokyo-blue-tp); */
}

.CircularProgressbar-text {
    fill: var(--tokyo-teal);
}